.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}
h3 {
  font-size: 20px;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

a {
  color: blue;
}
.foot {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically if height is set */
  flex-direction: column; /* Keeps elements stacked vertically */
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 50px;
}

.btn {
  width: 100px;
  height: 30px;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 50px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: rgb(197, 66, 19);
}
